# Hugging Face Access Token for downloading datasets/models
HF_TOKEN="your_huggingface_token_here"

# Path to the local DeepfusionLM tokenizer directory
TOKENIZER_PATH="./DeepfusionLM_tokenizer"

# Path to the tokenizer JSON file
TOKENIZER_JSON_PATH="DeepfusionLM_tokenizer.json"

# Path to store/load pre-tokenized dataset for pretraining
PROCESSED_PRETRAIN_DATA_PATH="./tokenized_vietnamese_book"

# Path to the folder containing raw corpus .txt files for training tokenizer/tokenization
CORPUS_PATH="G:\\hf\\vietnamese-book"

# Path to save downloaded raw dataset for fine-tuning
DOWNLOAD_DATASET_STORE_PATH="./data/vietnamese-history-qa"

# Path to load raw fine-tuning dataset
PREPARE_SFT_RAW_DATA_PATH="/mnt/data1/tm/deepfusion-lm/dataset/vietnamese-history-qa"

# Path to the directory where pretraining checkpoints will be saved
PRETRAIN_CHECKPOINT_DIR="./checkpoints"

# Path to pretraining experiment logs and checkpoints
PRETRAIN_EXPERIMENT_DIR="my_experiment"

# Path to raw dataset for continued pretraining
CONTINUED_PRETRAIN_RAW_DATA_PATH="/mnt/data1/tm/deepfusion-lm/dataset/vietnamese-history-qa"

# Path to save/load pre-tokenized dataset for continued pretraining
CONTINUED_PRETRAIN_TOKENIZED_DATA_PATH="/mnt/data1/tm/deepfusion-lm/dataset/vietnamese-history-qa-tokenized"

# Path to initial model weights directory for continued pretraining
CONTINUED_PRETRAIN_MODEL_WEIGHT_DIR="my_experiment/checkpoint_120000"

# Name of the continued pretraining experiment
CONTINUED_PRETRAIN_EXPERIMENT_NAME="continued_pretrain"

# Working directory/output path for continued pretraining
CONTINUED_PRETRAIN_WORKING_DIR="my_experiment"

# Path to the checkpoint for log-likelihood evaluation
EVALUATE_CHECKPOINT_PATH="my_experiment/checkpoint_sft_model"

# Path to pre-tokenized dataset for log-likelihood evaluation
EVALUATE_DATA_PATH="/mnt/data1/tm/deepfusion-lm/dataset/vhqa_sft_tokenized"

# Path to pretrained checkpoint for fine-tuning
FINETUNE_PRETRAINED_CHECKPOINT_PATH="checkpoint-pretrained-with-history-qa/model.safetensors"

# Path to prepared tokenized SFT dataset
FINETUNE_DATA_PATH="data/tokenized-sft"

# Path to output directory for fine-tuning
FINETUNE_OUTPUT_DIR="sft_output"

# Path to custom model checkpoint for MLM inference
MLM_INFERENCE_CHECKPOINT_PATH="my_experiment/final_model/model.safetensors"

# Path to SFT model checkpoint for inference
INFERENCE_CHECKPOINT_PATH="my_experiment/checkpoint_sft_model"
